@{
    ViewData["Title"] = "Home Page";
}

    <body>
        <div id="root"></div>
        <h1>Chef Privé</h1>
        <form class="example" action="/action_page.php" style="margin:auto; max-width:300px;">
            <input type="text" placeholder="Enter ingredients on hand" name="search">
        </form><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <form action="">
            <input type="image" src="~/images/bowl1.png" width="200" height="200" />
            <input type="image" src="~/images/bowl2.png" width="200" height="200" />
            <input type="image" src="~/images/bowl3.png" width="200" height="200" />
            <input type="image" src="~/images/bowl4.png" width="200" height="200" />
            <input type="image" src="~/images/bowl5.png" width="200" height="200" />
        </form>


        <script src=""></script>

    </body>

